.head {
  margin-top: 0;
  padding: auto;
  text-align: center;
  font-weight: 500;
  font-variant: inherit;
  background-color: rgb(83, 83, 24);
  height: 80px;
  color: yellow;
  padding-top: 40px;
}

.main-block {
  width: 100%;
}

.text-block {
  width: 300px;
  height: 150px;
  margin: 0 auto;
  border: yellow solid 1px;
}

#translate-text {
  width: 300px;
  height: 150px;
  text-shadow: yellow;
}

#translate-btn {
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  color: yellow;
  background-color: rgb(143, 143, 27);
}

#translated-output {
  width: 300px;
  height: 200px;
  border: 1px solid black;
  margin: 0 auto;
  border: yellow solid 1px;
}
